<?xml version="1.0" encoding="utf-8" ?>

<Module Name="CsvFileReader" Ver="S00E00">
  <Class Name="CsvFileReader" >
    <Select Type="Object" Name="CsvFileReader">
      <Option Selected="Y" Content="CsvFileReader"></Option>
    </Select>
    <Select Type="Parameter" Name="FilePath">
      <Option Selected="Y" Content="C:\Workspace\Publications\EIA\Model\ECA_blend_tg\TG_STAID000001.txt"></Option>
    </Select>
    <Select Type="Parameter" Name="Delimiters">
      <Option Selected="Y" Content=","></Option>
      <Option Selected="N" Content="&#x5c;"></Option><!--\\-->
      <Option Selected="N" Content="&#xa;"></Option><!--\n-->
      <Option Selected="Y" Content=" "></Option>
      <Option Selected="N" Content="&#x9;"></Option><!--\t-->
    </Select>
  </Class>
  <Class Name="CsvFileStructure" >
    <Select Type="Object" Name="CsvFileStructure">
      <Option Selected="Y" Content="CsvFileStructure"></Option>
    </Select>
    <Select Type="Parameter" Name="HeaderLineStartAt">
      <Option Selected="Y" Content="21"></Option>
    </Select>
    <Select Type="Parameter" Name="DataLinesStartAt">
      <Option Selected="Y" Content="22"></Option>
    </Select>
    <Select Type="Parameter" Name="FooterLinesCount">
      <Option Selected="Y" Content="0"></Option>
    </Select>
  </Class>
  <Class Name="DatalineAnalysisLogic" >
    <Select Type="Object" Name="DatalineAnalysisLogic">
      <Option Selected="N" Content="DatalineAnalysisLogic"></Option>
      <Option Selected="Y" Content="Dal_TgAbsMaxAlarm"></Option>
      <Option Selected="N" Content="Dal_TgAbsMaxAlarmConsumer"></Option>
    </Select>
  </Class>
  <Class Name="DatalineEntityFormat" >
    <Select Type="Object" Name="DatalineEntityFormat">
      <Option Selected="N" Content="DatalineEntityFormat"></Option>
      <Option Selected="Y" Content="Def_TG"></Option>
    </Select>
  </Class>
</Module>